---
import Icon from "astro-icon";

export interface Project {
  title: string;
  image?: string;
  tags: string[];
  description: string;
  url?: string;
  repositoryUrls: string[];
}

export interface Technology {
  id: string;
  name: string;
  icon: string;
  url: string;
}

const projects: Project[] = [
  {
    title: "Website with Gallery",
    tags: [
      "Typescript",
      "Next.js",
      "TailwindCSS",
      "Cloudinary",
      "Prisma",
      "PostgreSQL",
    ],
    url: "https://website-with-gallery.vercel.app",
    description:
      "A full-stack web application with CRUD functionality and image viewer.",
    repositoryUrls: ["https://github.com/kennethmarkhui/website-with-gallery"],
  },
  {
    title: "Inventory",
    tags: [
      "Javascript",
      "Reactjs",
      "Node.js",
      "Express.js",
      "Bootstrap",
      "MongoDB",
    ],
    url: "https://chinesefolkart-inventory-demo.firebaseapp.com",
    description: "Basic full-stack inventory web application.",
    repositoryUrls: [
      "https://github.com/kennethmarkhui/inventory-cra",
      "https://github.com/kennethmarkhui/inventory-express-api",
    ],
  },
];

const technologies: Technology[] = [
  {
    id: "typescript",
    name: "Typescript",
    icon: "simple-icons:typescript",
    url: "https://www.typescriptlang.org/",
  },
  {
    id: "javascript",
    name: "JavaScript",
    icon: "simple-icons:javascript",
    url: "https://www.javascript.com/",
  },
];
---

<section
  id="projects"
  class="flex flex-col gap-8 py-12 sm:py-16"
  aria-label="Projects"
>
  <div>
    <h2 class="text-2xl font-bold">Projects</h2>
    <p class="text-nord3 dark:text-nord4">
      Some of the projects that I have developed.
    </p>
  </div>
  <!-- Projects -->
  <div class="space-y-12 sm:space-y-20">
    {
      projects.map((project) => (
        <div class="sm:flex items-center space-y-4 sm:space-y-0 sm:space-x-4">
          <div class="w-full sm:w-1/3 flex justify-center">
            {!project.image
              ? technologies
                  .filter(
                    (t) =>
                      t.id ===
                      project.tags[0]
                        .trim()
                        .toLowerCase()
                        .replace(/[^a-zA-Z0-9 ]/g, "")
                  )
                  .map((tech) => (
                    <Icon name={tech.icon} class="h-24 rounded" />
                  ))[0]
              : "img here"}
          </div>
          <div class="w-full text-center sm:w-2/3 sm:text-left space-y-4">
            <h3 class="flex flex-wrap items-center justify-center space-x-2 text-xl sm:justify-start">
              <span>{project.title}</span>
              <span class="flex items-center gap-2" aria-label="links">
                {project.repositoryUrls.map((repoUrl) => (
                  <a
                    href={repoUrl}
                    rel="noreferrer noopener"
                    target="_blank"
                    aria-label="github url"
                  >
                    <Icon
                      name="mdi:github"
                      class="w-5 hover:text-nord10 dark:hover:text-nord7 duration-300"
                    />
                  </a>
                ))}
                {project.url && (
                  <a
                    href={project.url}
                    rel="noreferrer noopener"
                    target="_blank"
                    aria-label="website url"
                  >
                    <Icon
                      name="mdi:earth"
                      class="w-5 hover:text-nord10 dark:hover:text-nord7 duration-300"
                    />
                  </a>
                )}
              </span>
            </h3>
            <div class="flex flex-wrap justify-center sm:justify-start gap-2">
              {project.tags.map((tag) => (
                <span class="py-1 px-3 text-sm rounded-full cursor-default bg-nord4 dark:bg-nord1 hover:bg-nord10 hover:dark:bg-nord7 duration-300 hover:text-nord4 hover:dark:text-nord1">
                  {tag}
                </span>
              ))}
            </div>
            <p class="text-nord3 dark:text-nord4">{project.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
